src/main/mule/canvas-lms-uc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:canvas="http://www.mulesoft.org/schema/connectivity/canvas"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/connectivity/canvas http://www.mulesoft.org/schema/connectivity/canvas/current/mule-canvas.xsd">
	 <flow name="put:\courses\(id):application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="d6c6f2c1-e59f-4157-a374-73c19018f3a4" config-ref="HTTP_Listener_config" path="/courses/{id}" allowedMethods="PUT">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:course-update-a-course doc:name="Course Update A Course" doc:id="a167e3a3-fdd2-4761-a435-a99cd4bf21d9" config-ref="Canvas_config" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="put:\sections\(id):application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="c2973423-a907-40c8-90ea-90a36761d114" config-ref="HTTP_Listener_config" path="/sections/{id}" allowedMethods="PUT" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:section-edit-a-section doc:name="Section Edit A Section" doc:id="472cf5dd-34b6-421b-82cb-ac0a46d467fe" config-ref="Canvas_config" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="put:\users\(id):application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="a034300e-4a9c-406e-b20a-3a26345316b5" config-ref="HTTP_Listener_config" path="/users/{id}" allowedMethods="PUT" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:user-edit-a-user doc:name="User Edit A User" doc:id="6e4992da-61c0-4150-a213-cadd59e3e10f" config-ref="Canvas_config" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="delete:\courses\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="fc665884-a32b-4b33-85d7-84fa239fcaec" config-ref="HTTP_Listener_config" path="/courses/{id}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:course-delete-conclude-a-course doc:name="Course Delete Conclude A Course" doc:id="733afa59-94e3-4f2c-823b-4156a2223f34" config-ref="Canvas_config" id="#[vars.id]" event='#[attributes.queryParams.event default "delete"]' correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="delete:\sections\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="f7cd8d72-05bb-4d9a-a7ff-b09866d3318f" config-ref="HTTP_Listener_config" path="/sections/{id}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:section-delete-a-section doc:name="Section Delete A Section" doc:id="20adc013-2158-4459-b81e-892bc94cc503" config-ref="Canvas_config" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="delete:\sections\(id)\crosslist:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="c107e25b-b243-4e8d-874f-c4033e160fa3" config-ref="HTTP_Listener_config" path="/sections/{id}/crosslist" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:section-de-cross-list-a-section doc:name="Section De Cross List A Section" doc:id="eb98e783-09c3-4072-9566-378bd58677ef" config-ref="Canvas_config" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts\(account_id)\users:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="6b61791d-6897-41c1-b9df-12926d552a36" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/users" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:user-list-users-in-account doc:name="User List Users In Account" doc:id="80914ff4-743d-445b-be4f-895a0823182c" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]"/>
    </flow>
    <flow name="get:\courses\(course_id)\bulk_user_progress:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="542ec2c9-8d8f-4e29-a8c0-28fde7d0ead0" config-ref="HTTP_Listener_config" path="/courses/{course_id}/bulk_user_progress" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:course-get-bulk-user-progress doc:name="Course Get Bulk User Progress" doc:id="933f2a45-42dd-4a32-b3df-dbc742a0a4d8" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(course_id)\search_users:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="a28efd9c-32d6-4d58-8b53-51593cb9fe58" config-ref="HTTP_Listener_config" path="/courses/{course_id}/search_users" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="bb57dfb3-054d-49d0-b997-fe15c510bae0" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:course-list-users-in-course doc:name="Course List Users In Course" doc:id="bd701faa-26a7-41cf-976d-06df7a06a83d" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" />
			</when>
			<otherwise >
				<canvas:course-list-users-in-course doc:name="Course List Users In Course" doc:id="4e0e4472-57f4-4cd1-b8c9-f2d68d8cc43c" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" search_term="#[attributes.queryParams.'search_term']" sort="#[attributes.queryParams.sort]" enrollment_type_s="#[attributes.queryParams.'enrollment_type[]']" enrollment_role="#[attributes.queryParams.enrollment_role]" enrollment_role_id="#[attributes.queryParams.enrollment_role_id]" section_ids_s="#[attributes.queryParams.'section_ids[]']" include_s="#[attributes.queryParams.'include[]']" user_id="#[attributes.queryParams.user_id]" user_ids_s="#[attributes.queryParams.'user_ids[]']" enrollment_state_s="#[attributes.queryParams.'enrollment_state[]']"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(course_id)\sections:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="fd2a5bed-13f9-422e-8fd7-5986f0322eb9" config-ref="HTTP_Listener_config" path="/courses/{course_id}/sections" allowedMethods="GET">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="07360eed-2eb3-4041-858b-86701572071b" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:section-list-course-sections doc:name="Section List Course Sections" doc:id="6661e51a-dc38-4fce-8fbd-824bf2f29f03" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" />
			</when>
			<otherwise >
				<canvas:section-list-course-sections doc:name="Section List Course Sections" doc:id="f6432b13-209b-4f07-a524-ab578f6c4045" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" include_s="#[attributes.queryParams.'include[]']" search_term="#[attributes.queryParams.'search_term']"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(course_id)\sections\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="5ef145af-969c-4827-87cd-d7f41323e901" config-ref="HTTP_Listener_config" path="/courses/{course_id}/sections/{id}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="4502898a-fb3b-4e3a-916b-5f91e1afb45c" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:section-get-section-information doc:name="Section Get Section Information" doc:id="ed76ba72-1fb2-4d71-9e6b-03925989f565" config-ref="Canvas_config" course_id="#[vars.course_id]" id="#[vars.id]" correlationId="#[correlationId]" />
			</when>
			<otherwise >
				<canvas:section-get-section-information doc:name="Section Get Section Information" doc:id="d6679b39-7e56-4caf-b85c-ccbf3d3c3c2c" config-ref="Canvas_config" course_id="#[vars.course_id]" id="#[vars.id]" correlationId="#[correlationId]" include_s="#[attributes.queryParams.'include[]']"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(course_id)\users\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="47cb3aea-6c28-4f95-ae83-e8510ecf927a" config-ref="HTTP_Listener_config" path="/courses/{course_id}/users/{id}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:course-get-single-user doc:name="Course Get Single User" doc:id="0c3cd1a4-26c6-454b-b413-557e9efe7b77" config-ref="Canvas_config" course_id="#[vars.course_id]" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(course_id)\users\(user_id)\progress:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="3fda86ab-c515-4a09-97dd-5067bcfa0876" config-ref="HTTP_Listener_config" path="/courses/{course_id}/users/{user_id}/progress" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:course-get-user-progress doc:name="Course Get User Progress" doc:id="ac7fc9a5-34c4-4c30-ab07-e8e922765569" config-ref="Canvas_config" course_id="#[vars.course_id]" user_id="#[vars.user_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="55abc9a7-2a76-42f7-9079-3edbd26ceddf" config-ref="HTTP_Listener_config" path="/courses/{id}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:course-get-a-single-course doc:name="Course Get A Single Course" doc:id="b960e35c-30e6-4ff3-b344-6764993641bb" config-ref="Canvas_config" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\users\self\upcoming_events:canvas-lms-api-config">
		<http:listener doc:name="Listener" doc:id="341f734a-aaf0-49c8-8ecc-33f296edb71b" config-ref="HTTP_Listener_config" path="/users/self/upcoming_events" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<canvas:user-list-upcoming-assignments-and-calendar-events doc:name="User List Upcoming Assignments And Calendar Events" doc:id="5621914b-cc11-4a79-9cc8-fc64f43de58c" config-ref="Canvas_config" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\users\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="5c564900-0405-43a4-aeba-ea5553db6b6a" config-ref="HTTP_Listener_config" path="/users/{id}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:user-show-user-details doc:name="User Show User Details" doc:id="11510d3e-e4be-47d6-9183-96e64e349117" config-ref="Canvas_config" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\users\(user_id)\courses:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="adaea25e-2562-477a-a510-eec74d8f590b" config-ref="HTTP_Listener_config" path="/users/{user_id}/courses" allowedMethods="GET">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:course-list-courses-for-users doc:name="Course List Courses For Users" doc:id="dcb9b872-7633-42aa-a403-9e5285d0d4d9" config-ref="Canvas_config" user_id="#[vars.user_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\users\(user_id)\missing_submissions:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="4461cb96-b5b6-4ce1-9892-024e4afcbb7b" config-ref="HTTP_Listener_config" path="/users/{user_id}/missing_submissions" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="35c1a402-9322-4dd8-af38-5e6bc88494ea" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:users-list-missing-submissions doc:name="Users List Missing Submissions" doc:id="84b16450-b30f-41b2-a8ae-29629d425bb3" config-ref="Canvas_config" user_id="#[vars.user_id]" correlationId="#[correlationId]" />
			</when>
			<otherwise >
				<canvas:users-list-missing-submissions doc:name="Users List Missing Submissions" doc:id="7e810444-e783-46cc-9761-e875f78c7ee3" config-ref="Canvas_config" user_id="#[vars.user_id]" correlationId="#[correlationId]" observed_user_id="#[attributes.queryParams.'observed_user_id']" getMissingSubmissions__include_s="#[attributes.queryParams.'include[]']" getMissingSubmissions__filter_s="#[attributes.queryParams.'filter[]']" getMissingSubmissions__course_ids_s="#[attributes.queryParams.'course_ids[]']"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="post:\accounts\(account_id)\courses:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="88711520-deb6-4eba-8417-809b3fe404b3" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/courses" allowedMethods="POST">
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:course-create-a-new-course doc:name="Course Create A New Course" doc:id="0ba689da-f97b-4c56-866f-0d274a7204d3" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="post:\accounts\(account_id)\users:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="f5df8de2-ce41-4e25-b5ee-2b84b071d51c" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/users" allowedMethods="POST" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:user-create-a-user doc:name="User Create A User" doc:id="f6243921-20ee-4ffe-a59b-a344f0f68ecf" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="post:\courses\(course_id)\sections:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="091c8acd-bebf-4858-afb9-e17c4f5028d6" config-ref="HTTP_Listener_config" path="/courses/{course_id}/sections" allowedMethods="POST" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:section-create-course-section doc:name="Section Create Course Section" doc:id="8118be4c-c2b8-488b-b66a-4fe66643bec5" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="post:\sections\(id)\crosslist\(new_course_id):application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="ea34419b-3e14-4c06-b618-ef8a1a500a12" config-ref="HTTP_Listener_config" path="/sections/{id}/crosslist/{new_course_id}" allowedMethods="POST" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="new_course_id">attributes.uriParams.'new_course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:section-cross-list-a-section doc:name="Section Cross List A Section" doc:id="1f2646b2-90a2-4c70-a082-21575df17077" config-ref="Canvas_config" id="#[vars.id]" new_course_id="#[vars.new_course_id]" correlationId="#[correlationId]">
			<canvas:crosslist-section--body ><![CDATA[#[payload]]]></canvas:crosslist-section--body>
		</canvas:section-cross-list-a-section>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts:canvas-lms-api-config">
		<http:listener doc:name="Listener" doc:id="8b530b88-f18a-4673-9736-de5189a5c98f" config-ref="HTTP_Listener_config" path="/accounts" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<choice doc:name="Choice" doc:id="85d8dc22-e778-4d7e-89e6-fc3d3e1c4f20" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:account-list-accounts doc:name="Account List Accounts" doc:id="9505c6a6-dc09-4b1c-9302-72857d253476" config-ref="Canvas_config" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<canvas:account-list-accounts doc:name="Account List Accounts" doc:id="76f632ff-f086-459b-a2fb-aa38862fa06b" config-ref="Canvas_config" include_s="#[attributes.queryParams.'include[]']" correlationId="#[correlationId]"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts\(account_id)\sub_accounts:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="c8439259-4897-4ea9-96c0-6e4a2763e078" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/sub_accounts" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="187742c2-6895-4617-865a-5f8d089e8b17" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:account-get-the-sub-accounts-of-an-account doc:name="Account Get The Sub Accounts Of An Account" doc:id="67bb9eb1-291d-4d34-9ee6-5912a85c6411" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]" recursive="#[isEmpty(attributes.queryParams.recursive)]"/>
			</when>
			<otherwise >
				<canvas:account-get-the-sub-accounts-of-an-account doc:name="Account Get The Sub Accounts Of An Account" doc:id="0e63afe3-fa65-42b6-94d8-d670716d2cf2" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]" recursive="#[isEmpty(attributes.queryParams.recursive)]" order="#[attributes.queryParams.order]" include_s="#[attributes.queryParams.'include[]']"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="9658e05b-68e7-4942-97b2-0b7d84f85403" config-ref="HTTP_Listener_config" path="/accounts/{id}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:account-get-a-single-account doc:name="Account Get A Single Account" doc:id="66d35af3-fbab-412d-ad6a-cf304b5872a8" config-ref="Canvas_config" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="useflow" doc:id="55a43508-be53-4229-aa6f-20f424306edd">
        <http:listener doc:name="Listener" doc:id="b23d263a-902d-4019-8a70-4bfcf3b7cc2b" config-ref="HTTP_Listener_config" path="/v1/users/{user_id}/courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message" doc:id="36c164ab-f672-4d3c-bbcd-c1d2fe8332bd">
            <ee:variables>
                <ee:set-variable variableName="user_id"><![CDATA[attributes.uriParams.'user_id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:course-list-courses-for-users doc:name="Course List Courses For Users" doc:id="8f876f0b-9756-429c-83f5-dd9a9ef74d86" config-ref="Canvas_config" user_id="#[vars.user_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="put:\accounts\(account_id)\logins\(id):application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="b3583a1c-3440-4b03-9828-dfcd62e4c1e1" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/logins/{id}" allowedMethods="PUT" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:login-edit-a-user-login doc:name="Login Edit A User Login" doc:id="f1760c32-0181-4c4d-ad92-9409a52a6257" config-ref="Canvas_config" account_id="#[vars.account_id]" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="put:\accounts\(account_id)\terms\(id):application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="42386474-dfd3-42ad-829f-3ec0983d6939" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/terms/{id}" allowedMethods="PUT" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:enrollment-terms-update-enrollment-term doc:name="Enrollment Terms Update Enrollment Term" doc:id="58ee414a-1baa-4c72-a845-8e35a8d3c9cf" config-ref="Canvas_config" account_id="#[vars.account_id]" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="put:\courses\(course_id)\enrollments\(id)\reactivate:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="e29996b5-594e-42cd-86be-de0f99971cea" config-ref="HTTP_Listener_config" path="/courses/{course_id}/enrollments/{id}/reactivate" allowedMethods="PUT" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:enrollment-reactivate-an-enrollment doc:name="Enrollment Reactivate An Enrollment" doc:id="764c3e81-f752-426f-bb5a-2e5169bdf459" config-ref="Canvas_config" course_id="#[vars.course_id]" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="delete:\accounts\(account_id)\terms\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="42e68e09-d031-472b-bbda-fbac458ff476" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/terms/{id}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:enrollment-terms-delete-enrollment-term doc:name="Enrollment Terms Delete Enrollment Term" doc:id="da72fcf0-2386-4861-9fef-43879abae6dd" config-ref="Canvas_config" account_id="#[vars.account_id]" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="delete:\courses\(course_id)\enrollments\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="f3df5bc3-29a1-4c39-894f-54b0f07ecea3" config-ref="HTTP_Listener_config" path="/courses/{course_id}/enrollments/{id}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="3b34670d-5815-4db3-acfc-20c7f1b189fa" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:enrollment-conclude-deactivate-or-delete-an-enrollment doc:name="Enrollment Conclude Deactivate Or Delete An Enrollment" doc:id="44a1b8ed-d9aa-4f41-9493-94e681e711bd" config-ref="Canvas_config" course_id="#[vars.course_id]" id="#[vars.id]" correlationId="#[correlationId]"/>
			</when>
			<otherwise >
				<canvas:enrollment-conclude-deactivate-or-delete-an-enrollment doc:name="Enrollment Conclude Deactivate Or Delete An Enrollment" doc:id="c680f32f-bc35-48f0-a85a-dbe5738cf9a5" config-ref="Canvas_config" course_id="#[vars.course_id]" id="#[vars.id]" task='#[attributes.queryParams.task default "conclude"]' correlationId="#[correlationId]" />
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="delete:\users\(user_id)\logins\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="4c9931c4-a7de-45e8-9613-0a60fdebc03b" config-ref="HTTP_Listener_config" path="/users/{user_id}/logins/{id}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:login-delete-a-user-login doc:name="Login Delete A User Login" doc:id="286e0170-b5a0-4c73-8979-91626c336767" config-ref="Canvas_config" user_id="#[vars.user_id]" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts\(account_id)\courses:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="58bed2cf-2c2a-4ed7-87cf-e3b93b802bfe" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/courses" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:account-list-active-courses-in-an-account doc:name="Account List Active Courses In An Account" doc:id="d56311f3-89f8-4244-8734-c39bbc06d4ad" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts\(account_id)\enrollments\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="a34736b2-8958-494c-8d68-55be59c3cc5a" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/enrollments/{id}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:enrollment-get-enrollment-by-id doc:name="Enrollment Get Enrollment By ID" doc:id="eb94b075-9a29-4570-aa69-79d1a8e1cff6" config-ref="Canvas_config" account_id="#[vars.account_id]" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts\(account_id)\roles:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="d64db6c7-b74a-4452-b79a-1a3b6009b887" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/roles" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="07c68d3b-cb12-4935-b3b1-1ce1e0af8c87" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:roles-list-roles doc:name="Roles List Roles" doc:id="3ff489b9-9b2b-4016-b8a1-bcd85ffdf9a2" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]" show_inherited="#[isEmpty(attributes.queryParams.'show_inherited')]"/>
			</when>
			<otherwise >
				<canvas:roles-list-roles doc:name="Roles List Roles" doc:id="c5782857-7eb7-4940-8e85-6480338d1f1d" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]" show_inherited="#[isEmpty(attributes.queryParams.'show_inherited')]"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts\(account_id)\roles\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="06b2247e-2125-48ee-8004-a2e024db2aad" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/roles/{id}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="34b58f17-b707-4236-b424-9b869c5a2c59" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:roles-get-a-single-role doc:name="Roles Get A Single Role" doc:id="d89ec7ea-cee4-4c9a-a5d6-f9da2cfdac10" config-ref="Canvas_config" account_id="#[vars.account_id]" id="#[vars.id]" correlationId="#[correlationId]" />
			</when>
			<otherwise >
				<canvas:roles-get-a-single-role doc:name="Roles Get A Single Role" doc:id="046b082d-0d40-4b50-a276-38e1a941206d" config-ref="Canvas_config" account_id="#[vars.account_id]" id="#[vars.id]" correlationId="#[correlationId]" role_id="#[attributes.queryParams.'role_id']" role="#[attributes.queryParams.role]"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts\(account_id)\terms:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="75eb49f5-c1c9-4553-ac5e-a42db2cc49f9" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/terms" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:enrollment-terms-list-enrollment-terms doc:name="Enrollment Terms List Enrollment Terms" doc:id="9488a362-9e65-4c41-a6b1-a9f2d7075903" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\accounts\(account_id)\terms\(id):canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="dbe36102-c5c9-496c-8220-827fe4a437e7" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/terms/{id}" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:enrollment-terms-retrieve-enrollment-term doc:name="Enrollment Terms Retrieve Enrollment Term" doc:id="a4902edb-2ab3-45da-8551-5ba8ab4a5c52" config-ref="Canvas_config" account_id="#[vars.account_id]" id="#[vars.id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(course_id)\assignment_groups:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="eac1d774-b803-4212-bd60-221ca13a2461" config-ref="HTTP_Listener_config" path="/courses/{course_id}/assignment_groups" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:assignment-groups-list-assignment-groups doc:name="Assignment Groups List Assignment Groups" doc:id="8e081e20-d088-420f-8f84-0f2d73a316f2" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(course_id)\assignment_groups\(assignment_group_id)\assignments:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="d23a4760-f52c-43f7-895a-0a70e9716fa6" config-ref="HTTP_Listener_config" path="/courses/{course_id}/assignment_groups/{assignment_group_id}/assignments" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
                <ee:set-variable variableName="assignment_group_id">attributes.uriParams.'assignment_group_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:assignment-list-assignments-by-assignment-groups doc:name="Assignment List Assignments By Assignment Groups" doc:id="7b5bb737-e863-4097-b327-0a7103abe7e7" config-ref="Canvas_config" course_id="#[vars.course_id]" assignment_group_id="#[vars.assignment_group_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(course_id)\assignments:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="216842c6-bed5-413a-ad94-96e267a91272" config-ref="HTTP_Listener_config" path="/courses/{course_id}/assignments" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:assignment-list-assignments doc:name="Assignment List Assignments" doc:id="fc2cae09-454e-4625-ab04-066366e22e8b" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\courses\(course_id)\enrollments:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="0b2a961a-d975-4a03-9579-f4a6ef57847c" config-ref="HTTP_Listener_config" path="/courses/{course_id}/enrollments" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="16ef874c-38da-4d2d-9b2d-7c543f4aadce" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:enrollment-list-course-enrollments doc:name="Enrollment List Course Enrollments" doc:id="5936f13f-3117-4d5c-bcda-b0ec616a3811" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" />
			</when>
			<otherwise >
				<canvas:enrollment-list-course-enrollments doc:name="Enrollment List Course Enrollments" doc:id="552f60b8-1c82-4f81-b11d-6c140af428c0" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" type_s="#[attributes.queryParams.'type[]']" role_s="#[attributes.queryParams.'role[]']" state_s="#[attributes.queryParams.'state[]']" include_s="#[attributes.queryParams.'include[]']" user_id="#[attributes.queryParams.'user_id']" grading_period_id="#[attributes.queryParams.'grading_period_id']" enrollment_term_id="#[attributes.queryParams.'enrollment_term_id']" sis_account_id_s="#[attributes.queryParams.'sis_account_id[]']" sis_course_id_s="#[attributes.queryParams.'sis_course_id[]']" sis_section_id_s="#[attributes.queryParams.'sis_section_id[]']" sis_user_id_s="#[attributes.queryParams.'sis_user_id[]']" created_for_sis_id_s="#[isEmpty(attributes.queryParams.'created_for_sis_id[]')]"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
	<flow name="get:\courses\(course_id)\students\submissions:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="a2888470-8af6-4394-9ae9-9d245d675c06" config-ref="HTTP_Listener_config" path="/courses/{course_id}/students/submissions" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="3256b927-e016-4dde-b763-f4ff1252e654" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:submission-list-submissions-for-multiple-assignments doc:name="Submission List Submissions For Multiple Assignments" doc:id="d49b7681-b6ad-4cc3-a235-03aa9fa0e19d" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" grouped="#[isEmpty(attributes.queryParams.grouped)]" post_to_sis="#[isEmpty(attributes.queryParams.'post_to_sis')]" state_based_on_date="#[isEmpty(attributes.queryParams.'state_based_on_date')]"/>
			</when>
			<otherwise >
				<canvas:submission-list-submissions-for-multiple-assignments doc:name="Submission List Submissions For Multiple Assignments" doc:id="2880ffac-112f-4c5d-ab0e-fe3cb3f94205" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" student_ids_s="#[attributes.queryParams.'student_ids[]']" assignment_ids_s="#[attributes.queryParams.'assignment_ids[]']" grouped="#[isEmpty(attributes.queryParams.grouped)]" post_to_sis="#[isEmpty(attributes.queryParams.'post_to_sis')]" submitted_since="#[attributes.queryParams.'submitted_since']" graded_since="#[attributes.queryParams.'graded_since']" grading_period_id="#[attributes.queryParams.'grading_period_id']" workflow_state="#[attributes.queryParams.'workflow_state']" enrollment_state="#[attributes.queryParams.'enrollment_state']" state_based_on_date="#[isEmpty(attributes.queryParams.'state_based_on_date')]" order="#[attributes.queryParams.order]" order_direction="#[attributes.queryParams.'order_direction']" include_s="#[attributes.queryParams.'include[]']"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\sections\(section_id)\enrollments:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="6181fb99-b8ba-4249-89da-249c0846e638" config-ref="HTTP_Listener_config" path="/sections/{section_id}/enrollments" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="section_id">attributes.uriParams.'section_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="671cbe73-af19-488f-b32a-df4db1e53ab0" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:enrollment-list-section-enrollments doc:name="Enrollment List Section Enrollments" doc:id="a219701b-e4c8-4948-95ad-d7f58cc0c191" config-ref="Canvas_config" section_id="#[vars.section_id]" correlationId="#[correlationId]" created_for_sis_id_s="#[isEmpty(attributes.queryParams.'created_for_sis_id[]')]"/>
			</when>
			<otherwise >
				<canvas:enrollment-list-section-enrollments doc:name="Enrollment List Section Enrollments" doc:id="97342a9e-003c-4fe7-ad96-9f16b901981f" config-ref="Canvas_config" section_id="#[vars.section_id]" correlationId="#[correlationId]" type_s="#[attributes.queryParams.'type[]']" role_s="#[attributes.queryParams.'role[]']" state_s="#[attributes.queryParams.'state[]']" include_s="#[attributes.queryParams.'include[]']" user_id="#[attributes.queryParams.'user_id']" grading_period_id="#[attributes.queryParams.'grading_period_id']" enrollment_term_id="#[attributes.queryParams.'enrollment_term_id']" sis_account_id_s="#[attributes.queryParams.'sis_account_id[]']" sis_course_id_s="#[attributes.queryParams.'sis_course_id[]']" sis_section_id_s="#[attributes.queryParams.'sis_section_id[]']" sis_user_id_s="#[attributes.queryParams.'sis_user_id[]']" created_for_sis_id_s="#[isEmpty(attributes.queryParams.'created_for_sis_id[]')]"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\sections\(section_id)\students\submissions:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="1237e6e5-1025-4379-bcfd-65c06797e946" config-ref="HTTP_Listener_config" path="/sections/{section_id}/students/submissions" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="section_id">attributes.uriParams.'section_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="6fd13da3-7a22-44a0-b3aa-6c04f86b9d7c" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:submission-list-submissions-from-course-section doc:name="Submission List Submissions From Course Section" doc:id="36941267-08f2-4690-be84-e511564b43de" config-ref="Canvas_config" section_id="#[vars.section_id]" correlationId="#[correlationId]" grouped="#[isEmpty(attributes.queryParams.grouped)]" post_to_sis="#[isEmpty(attributes.queryParams.'post_to_sis')]" state_based_on_date="#[isEmpty(attributes.queryParams.'state_based_on_date')]"/>
			</when>
			<otherwise >
				<canvas:submission-list-submissions-from-course-section doc:name="Submission List Submissions From Course Section" doc:id="eb98ca6c-1cf2-4028-9b86-fc5d26710eef" config-ref="Canvas_config" section_id="#[vars.section_id]" correlationId="#[correlationId]" student_ids_s="#[attributes.queryParams.'student_ids[]']" assignment_ids_s="#[attributes.queryParams.'assignment_ids[]']" grouped="#[isEmpty(attributes.queryParams.grouped)]" post_to_sis="#[isEmpty(attributes.queryParams.'post_to_sis')]" submitted_since="#[attributes.queryParams.'submitted_since']" graded_since="#[attributes.queryParams.'graded_since']" grading_period_id="#[attributes.queryParams.'grading_period_id']" workflow_state="#[attributes.queryParams.'workflow_state']" enrollment_state="#[attributes.queryParams.'enrollment_state']" state_based_on_date="#[isEmpty(attributes.queryParams.'state_based_on_date')]" order="#[attributes.queryParams.order]" order_direction="#[attributes.queryParams.'order_direction']" include_s="#[attributes.queryParams.'include[]']"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="get:\users\(user_id)\enrollments:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="0e321c9a-ff5d-4f4a-8d59-4bf298d77646" config-ref="HTTP_Listener_config" path="/users/{user_id}/enrollments" allowedMethods="GET" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="988c93a1-f578-4636-bb6a-94d8739dd030" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:enrollment-list-user-enrollments doc:name="Enrollment List User Enrollments" doc:id="d0ff2d51-abcd-46b7-aa4c-b70896e9a82a" config-ref="Canvas_config" user_id="#[vars.user_id]" correlationId="#[correlationId]" created_for_sis_id_s="#[isEmpty(attributes.queryParams.'created_for_sis_id[]')]"/>
			</when>
			<otherwise >
				<canvas:enrollment-list-user-enrollments doc:name="Enrollment List User Enrollments" doc:id="79a5e6cc-2f41-49f2-9274-b4ed23f98ca1" config-ref="Canvas_config" user_id="#[vars.user_id]" correlationId="#[correlationId]" type_s="#[attributes.queryParams.'type[]']" role_s="#[attributes.queryParams.'role[]']" state_s="#[attributes.queryParams.'state[]']" include_s="#[attributes.queryParams.'include[]']" grading_period_id="#[attributes.queryParams.'grading_period_id']" enrollment_term_id="#[attributes.queryParams.'enrollment_term_id']" sis_account_id_s="#[attributes.queryParams.'sis_account_id[]']" sis_course_id_s="#[attributes.queryParams.'sis_course_id[]']" sis_section_id_s="#[attributes.queryParams.'sis_section_id[]']" sis_user_id_s="#[attributes.queryParams.'sis_user_id[]']" created_for_sis_id_s="#[isEmpty(attributes.queryParams.'created_for_sis_id[]')]"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
	<flow name="post:\accounts\(account_id)\bulk_enrollment:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="ad3c4f38-6266-4dfb-b487-9a5eb5df5eba" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/bulk_enrollment" allowedMethods="POST" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:enrollment-enroll-multiple-users-to-one-or-more doc:name="Enrollment Enroll Multiple Users To One Or More" doc:id="f1e19d32-5181-4596-8cec-5047aac94043" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="post:\accounts\(account_id)\logins:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="a2ea34be-d416-4d6a-99e4-bbc34dd92fd8" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/logins" allowedMethods="POST" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:login-create-a-user-login doc:name="Login Create A User Login" doc:id="be3887d1-5c6b-444c-9519-9ac154ee40fa" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="post:\accounts\(account_id)\terms:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="f53e97f2-701d-4d69-abf0-027e3f5a9e21" config-ref="HTTP_Listener_config" path="/accounts/{account_id}/terms" allowedMethods="POST" >
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<canvas:enrollment-terms-create-enrollment-term doc:name="Enrollment Terms Create Enrollment Term" doc:id="b399d676-b682-447d-93b2-f1d016d2b3cb" config-ref="Canvas_config" account_id="#[vars.account_id]" correlationId="#[correlationId]"/>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="post:\courses\(course_id)\enrollments:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="937b44a9-b906-435c-9477-7c17db039ee1" config-ref="HTTP_Listener_config" path="/courses/{course_id}/enrollments" allowedMethods="POST">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="course_id">attributes.uriParams.'course_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="520dd43e-271a-40ea-88b1-34eab4a6b17e" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:enrollment-list-course-enrollments doc:name="Enrollment List Course Enrollments" doc:id="da5a092e-567e-4244-8bf3-3b442d964d22" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" created_for_sis_id_s="#[isEmpty(attributes.queryParams.'created_for_sis_id[]')]"/>
			</when>
			<otherwise >
				<canvas:enrollment-list-course-enrollments doc:name="Enrollment List Course Enrollments" doc:id="a3349210-354b-43ed-ae3e-751bac9febf1" config-ref="Canvas_config" course_id="#[vars.course_id]" correlationId="#[correlationId]" type_s="#[attributes.queryParams.'type[]']" role_s="#[attributes.queryParams.'role[]']" state_s="#[attributes.queryParams.'state[]']" include_s="#[attributes.queryParams.'include[]']" user_id="#[attributes.queryParams.'user_id']" grading_period_id="#[attributes.queryParams.'grading_period_id']" enrollment_term_id="#[attributes.queryParams.'enrollment_term_id']" sis_account_id_s="#[attributes.queryParams.'sis_account_id[]']" sis_course_id_s="#[attributes.queryParams.'sis_course_id[]']" sis_section_id_s="#[attributes.queryParams.'sis_section_id[]']" sis_user_id_s="#[attributes.queryParams.'sis_user_id[]']" created_for_sis_id_s="#[isEmpty(attributes.queryParams.'created_for_sis_id[]')]"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
    <flow name="post:\sections\(section_id)\enrollments:application\json:canvas-lms-api-config">
        <http:listener doc:name="Listener" doc:id="5df5aa65-b4a5-4c6b-9d7c-1a087dfd5df8" config-ref="HTTP_Listener_config" path="/sections/{section_id}/enrollments" allowedMethods="POST">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="section_id">attributes.uriParams.'section_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<choice doc:name="Choice" doc:id="111b79a8-d756-4730-8d99-4b7a0f02bcaf" >
			<when expression="#[isEmpty(attributes.queryParams)]">
				<canvas:enrollment-list-section-enrollments doc:name="Enrollment List Section Enrollments" doc:id="4d60e75c-7679-4f86-b00d-09d06486805a" config-ref="Canvas_config" section_id="#[vars.section_id]" created_for_sis_id_s="#[isEmpty(attributes.queryParams.'created_for_sis_id[]')]"/>
			</when>
			<otherwise >
				<canvas:enrollment-list-section-enrollments doc:name="Enrollment List Section Enrollments" doc:id="526b09be-6fd9-45f4-a3db-983ff65fbdc0" config-ref="Canvas_config" section_id="#[vars.section_id]" type_s="#[attributes.queryParams.'type[]']" role_s="#[attributes.queryParams.'role[]']" state_s="#[attributes.queryParams.'state[]']" include_s="#[attributes.queryParams.'include[]']" user_id="#[attributes.queryParams.'user_id']" grading_period_id="#[attributes.queryParams.'grading_period_id']" enrollment_term_id="#[attributes.queryParams.'enrollment_term_id']" sis_account_id_s="#[attributes.queryParams.'sis_account_id[]']" sis_course_id_s="#[attributes.queryParams.'sis_course_id[]']" sis_section_id_s="#[attributes.queryParams.'sis_section_id[]']" sis_user_id_s="#[attributes.queryParams.'sis_user_id[]']" created_for_sis_id_s="#[isEmpty(attributes.queryParams.'created_for_sis_id[]')]" correlationId="#[correlationId]"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-Error-Handler" />
    
</flow>
	</mule>
